:root {
    --black: #000000;
    --white: #ffffff;

    --search-color: #f4f4f4;

    --text-color: #11142D;

    --regular-text-color: #808191;

    --dashbord-background: #6C5DD3;

    --dashbord-light: #D5D0FC;

    --right-penal-back: #f7f7f7;

    --orange: #fd8539;

    --green: #2ed480;

    --pink: #fe6d8e;

    --blue: #4879f5;

    --sky-blue: #44d2f1;

    --popular-color: #E4E4E4;

    --box-shadow: 0px 6px 11px 0px rgba(133, 123, 123, 0.10);

    --search-border: rgba(231, 231, 231, 0.19);

    --profile-border-color: rgba(231, 231, 231, 0.20);

    --light-black: #495057;

    --sky-blue: #1c91d4;

    --yellow: #f7b924;

    --profile-border: #dee2e6;

    --gray: #999b9d;

    --pink-said: #dc3a61;

    --notification-background: #c7c5f8;

    --back-ground: #F4F7FF;

    --dark-red: #d92550;

    --light-black: #322f3e;

    --notification-border: #e2e6ef;

}